.gameComponent {
  display: inline-block;
  width: 300px;
  height: 110px;
  border: 10px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  text-overflow:clip;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.gameComponent img {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.featured_mod {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.game_tab #ladder_btns .btn {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #777777;
}

.game_tab .list-group-item {
  background-color: #777777;
  padding: 8px;
}

.game_tab #sidebar {
  float:left;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 5px;
  margin-left: 5px;
  width: 231px;
}

.game_tab #game_list {
  float:right;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;

  width: calc(100% - 246px);
}
