body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  -webkit-app-region: drag;
}

.loginScreen {
  background: url("../../public/img/bg/login.jpg") no-repeat center;
  background-size: contain;
}

form {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-app-region: no-drag;
  border-radius: 5px;
}

.spacer {
  height:100%;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.loginScreen {
  height:100%;
  width:100%;
}

// Used briefly when the password/username are incorrect.
.angry-form-control {
  border-color: #ff0000;
  border-width: 2px;
}

.theRow {
  height:100%;
}
